<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
		<meta name="google-site-verification" content="RI62-YItyq_hKLiote6gXitXVQnrIsVX45I3PTw722Q" />
		<title>Book Search with details including price</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
		{% block extra_head %}
		<div class="row">
			<div class="span2">
				<a href="/">
					<button class="btn btn-primary" type="button">
						<i class="icon-home icon-white"></i> 
				</button></a>
			</div>
			<div class="span5">
				<h3 class='pull-left'>
					<p class="text-info"> Search books using <abbr title="keywords related to your book title or subject" class="initialism">Keywords</abbr></p>
				</h3>
				<form method="get" action="/search/" class="navbar-form pull-left">
					<input type="text" name="keywords" placeholder="Enter your keywords " class="input-medium search-query">
					<input type="submit" value="submit" class="btn btn-success"></button></form>
		</div>
		<div class="span5">
			<h3 class="pull-right" >
				<p class="text-info">Search books using <abbr title="International Standard Book Number" class="initialism">ISBN</abbr></p>
			</h3>
			<form method="get" action="/search/" class="navbar-form pull-right">
				<input type="text" name="isbn" placeholder="Enter your ISBN here" class="input-medium search-query">
				<input type="submit" value="submit"class="btn btn-success"></button></form>
			</div>
		</div>
		</div>
		</div>
	</head>
{% endblock %}
<body>
<h1>{% block title %}{% endblock %}</h1>
<div>
{% block content %}

{% endblock %}
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
{% block js %}
{% endblock %}
</body> 
</html>

