{% extends "base.html" %}
<div class="row">
<div class="span9 pull-right">
{% block title %}
Search your books{% endblock %}
{% block content %}
<div class="row">    
    <div class="span6">
    <h3>Search books using <abbr title=" International Standard Book Number" class="initialism">ISBN</abbr> Number</h3>
   	<form method="get" action="/search/" class="form-search pull-left">
    <input type="text" name="isbn" placeholder="Enter your ISBN here" class="input-medium search-query">
    <input type="submit" value="submit"class="btn btn-success"></button>
	</form>
    </div>
    <div class="span6">
    <h3 class='pull-right'>Search books using keywords</h3>
	<form method="get" action="/search/" class="form-search pull-right">
    <input type="text" name="keywords" placeholder="Enter your keywords here" class="input-medium search-query">
	 <input type="submit" value="submit" class="btn btn-success"></button>
    </form>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
